<h1>
  <%= gravatar_for @user %>
  <%= @user.name %>
</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h3>Region</h2>
    <%= @user.region %>
    <h3>Profile</h2>
    <%= @user.profile %>
  </div>
</div>

